.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  &.fixed {
    height: 70px;
    position: fixed;
    background-color: $violet;

    .header__inner {
      padding: 15px 0;
    }
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
