@import "reset";
@import "variables";
@import "mixin";

@include fontface-simple("Muller", "../fonts/MullerLight", 300, normal);

@include fontface-simple("Muller", "../fonts/MullerLightItalic", 300, italic);

@include fontface-simple("Muller", "../fonts/MullerRegular", normal, normal);

@include fontface-simple("Muller", "../fonts/MullerBold", bold, normal);

@include fontface-simple("Muller", "../fonts/MullerBoldItalic", bold, italic);

@include fontface-simple("Muller", "../fonts/MullerMedium", 500, normal);

@include fontface-simple("Muller", "../fonts/MullerExtraBold", 900, normal);

@include fontface-simple(
  "Muller",
  "../fonts/MullerExtraBoldItalic",
  900,
  italic
);

body {
  min-width: 320px;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  font-family: Muller, Arial, sans-serif;
  color: $violet;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.pr-150 {
  padding-right: 150px;
}

.mb-60 {
  margin-bottom: 60px;
}

.see__more {
  width: 100%;
  margin: 0 auto;
}

@import "burger";
@import "section";
@import "btn";
@import "intro";
@import "header";
@import "nav";
@import "benefits";
@import "liqiudation";
@import "partnership";
@import "post-auction";
@import "reviews";
@import "newsletter";
@import "location";
@import "footer";
@import "social";
